<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />
    <meta name="description" content="Get current weather information for your location. See the weather now!" />
    <title>Weather Now</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet" />
    <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
</head>

<body>
<div class="container">
    
        <div class="header">
           
            <div class="header-wrapper">
               
                <div class="brand">WeatherNow</div>
                
                <div class="navbar">
                    <div  id="ham-icon" class="mobile-nav" onclick="myFunction()">
                        <div class="ham-icon" ><span class="iconify" data-icon="solar:hamburger-menu-bold-duotone"></span></div>
                    </div>

                    <div class="desktop-nav">
                        <ul class="nav-list"> 
                        <li class="nav-links"><a href="#weather">Weather</a></li>
                        <li class="nav-links"><a href="#desc">Description</a></li>
                        <li class="nav-links"><a href="#all-info">All Information</a></li>
                        <li class="nav-links"><a href="sunil-sharma.com.np">Contact Developer</a> </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="drawer" class="mob-drawer">
                <div class="navitems">
                    <ul class="nav-links-mob nav-list"> 
                        <li class="nav-links mobnav-link"><a href="#weather">Weather</a></li>
                        <li class="nav-links mobnav-link"><a href="#desc">Description</a></li>
                        <li class="nav-links mobnav-link"><a href="#all-info">All Information</a></li>
                        <li class="nav-links mobnav-link"><a href="sunil-sharma.com.np">Contact Developer</a> </li>
                        </ul>
                </div>
            </div>
            
        </div>
        <div class="loc-container">
            <div class="user-location">
                <%if(errmsg == null) { %>
                    <p>It looks like you are looking weather for <%= usercity %> city. Not Exactly!</p>
                    <%} else {%>
                    <p> <%= errmsg.toUpperCase() %> !</p>
                    <% } %>
            </div>

            
                <form class="search-form" action="/" method="post">
                    <input class="user-city" type="search" name="usercity" placeholder="Search for your city" autocomplete="off"/>
                    <button class="search-botton" type="submit">
                        <span class="iconify" data-icon="ic:baseline-search"></span>
                    </button>
                </form>
                <div class="user-country">
                    <% if(ctry !== null) { %>
                        Country: <%= ctry %> </p>
                <%} %>
            </div>
            </div>

            <%if(errmsg == null) { %>
                <div class="main-container">
                    <div class="weather-container">
                            <div class="weather-main-container">
                                <div class="today-date"><span><%= day %></span></div>
                                <div  id="weather" class="weather-infos">
                                    <div class="today-weather">
                                        <img class="weather-logo" src="<%= imageUrl %>" alt="Weather-icon" />
                                        <p class="weather-main weather-main-data"><%= weatherMain %></p>
                                    </div>
                                    <div class="today-weather">
                                        <div class="temp">
                                            <span class="iconify temperature-logo" data-icon="mdi:temperature-lines"></span>
                                        </div>
                                        <p class="weather-main temp-main-data"> <%= temp %> &#8451</p>
                                    </div>
                                    <div id="desc" class="today-desc">
                                        <p class="weather-main headings">Description</p>
                                        <p class="weather-desc">
                                            <%= desc %>
                                        </p>
                                    </div>
        
                                    <div id="all-info" class="all-info ">
                                        <p class="weather-main headings">All Information</p>
                                        <div class="all-info-cols">
                                            <div class="all-info-col-1 ">
                                                <ul class="info-list ">
                                                    <li>Min Temperature : <%= mintemp %></li>
                                                    <li>Max Temperature : <%= maxtemp %></li>
                                                    <li>Sunrise : <%= sunrise %></li>
                                                    <li>Sunset : <%= sunset %></li>
                                                </ul>
                                            </div>
        
                                            <div class="all-info-col-2">
                                                <ul class="info-list">
                                                    <li>Longitude : <%= longi %></li>
                                                    <li>Latitude : <%= lati %> </li>
                                                    <li>Pressure : <%= press %> </li>
                                                    <li>Humidity : <%= humi %></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <%} else {%>
                    <div class="error-container error-msg">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 64 64">
                            <path fill="#ffdd67" d="M2.5 37.2c2.9 16.3 18.4 27.2 34.8 24.3c16.3-2.9 27.2-18.4 24.3-34.8C58.7 10.5 43.1-.4 26.8 2.5C10.5 5.3-.4 20.9 2.5 37.2" />
                            <g fill="#664e27">
                                <circle cx="42.4" cy="24.7" r="5" />
                                <circle cx="19.7" cy="28.7" r="5" />
                                <path d="M43.3 41.8c-5.8-1.5-12-.4-16.9 3c-1.2.9 1.1 4 2.3 3.2c3.2-2.3 8.4-3.8 13.7-2.4c1.3.3 2.4-3.3.9-3.8" />
                            </g>
                        </svg>
                        <p>Your desired <%= errmsg %>, Search Again</p>

                    </div>
                <% } %>

        
    <footer>
        <p class="copyright">Developed by <a href="https://sunil-sharma.com.np">Sunil Sharma</a></p>
    </footer>
</div>
    <script>
       function myFunction() {
   var drawer = document.getElementById("drawer");
   if (drawer.style.display === "none") {
    drawer.style.display = "block";
   } else{
    drawer.style.display = "none";
   }
}
   const navLinks = document.getElementsByClassName("mobnav-link");
   const mobDrawer = document.getElementById("drawer")
    for(var i = 0, x = navLinks.length; i < x; i++) {
        navLinks[i].onclick = function() {
            mobDrawer.style.removeProperty("display")
        }
    }
    </script>
</body>

</html>